@using Nop.Core.Domain.Seo
@using Nop.Services.Helpers
@inject SeoSettings seoSettings
@inject IUserAgentHelper userAgent

@{
    Layout = "_ColumnsOne";

    //title
    if (!string.IsNullOrEmpty(seoSettings.HomepageTitle))
    {
        Html.AddTitleParts(seoSettings.HomepageTitle);
    }

    //meta
    if (!string.IsNullOrEmpty(seoSettings.HomepageDescription))
    {
        Html.AddMetaDescriptionParts(seoSettings.HomepageDescription);
    }

    //page class
    if (!userAgent.IsMobileDevice())
    {

        Html.AppendPageCssClassParts("html-home-page");
    }
}
@if (userAgent.IsMobileDevice())

{
    <!--top cat-->
    <div class="container">
        <div class="category-slide owl-carousel">
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Makeup"><img src="lib/ClientM/img/topcat/1.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Skin"><img src="lib/ClientM/img/topcat/2.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/hair"><img src="lib/ClientM/img/topcat/3.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Appliances"><img src="lib/ClientM/img/topcat/4.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Personal Care"><img src="lib/ClientM/img/topcat/5.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Ayurveda"><img src="lib/ClientM/img/topcat/6.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Lingerie"><img src="lib/ClientM/img/topcat/7.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Mom and Baby"><img src="lib/ClientM/img/topcat/8.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Men's Store'"><img src="lib/ClientM/img/topcat/9.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Fragrance"><img src="lib/ClientM/img/topcat/10.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="/Jewelery"><img src="lib/ClientM/img/topcat/11.jpg" alt=""></a>
                </div>
            </div>

        </div>
        <div class="pb-3"></div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "HomepageTopMobile" })
    <!--monsoon-->
    <div class="cta-area pt-3">
        <div class="container">
            <div class="cta-text p-4 p-lg-5" style="background-image: url(/lib/ClientM/img/bg1.png)">
                <h4 class="text-white">Monsoon Sale!</h4>
                <p class="text-white">Suha is a multipurpose, creative &amp; <br> modern mobile template.</p>
                <a class="btn" href="#" style="background-color:#ed1890;">Shop Today</a>
            </div>
        </div>
    </div>
    <br />
    @await Html.PartialAsync("_discountHomepageMobile")

    @await Component.InvokeAsync("HomepageCategories")

    @await Html.PartialAsync("_FeaturedBrandMobile")
    <br />
    @await Component.InvokeAsync("NewsletterBox")
    <br />
}
else
{
    <div class="page-content">
        <!--slider-->
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })

        <!--monsoon-->
        <section class="pt-1 appear-animate" data-animation-options="{'delay': '.3s'}">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-lg-1 mb-1"></div>
                    <div class="col-xs-10 col-lg-10 mb-10">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a href="#"><figure class="category-media"><img src="/lib/Client/images/monsoon.jpg" /></figure></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--pro-->
        @await Html.PartialAsync("_discountHomepage")

        <!--extra category-->
        @await Component.InvokeAsync("HomepageCategories")

        <!--Feature Brands-->
        @await Html.PartialAsync("_FeaturedBrand")


        <section class="pt-4">
            <div class="container">
                <div class="row">

                    <div class="col-xs-1 col-lg-1">&nbsp;</div>
                    <div class="col-xs-10 col-lg-10">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="service-slider owl-carousel owl-theme row gutter-no cols-lg-4 cols-md-3 cols-sm-2 cols-1 bg-white mt-2" data-owl-options="{'nav': false,
                                                                                                                                                                            'dots': false,
                                                                                                                                                                            'autoplay': true,
                                                                                                                                                                            'responsive': {
                                                                                                                                                                            '0': {
                                                                                                                                                                            'items': 1
                                                                                                                                                                            },
                                                                                                                                                                            '576': {
                                                                                                                                                                            'items': 2
                                                                                                                                                                            },
                                                                                                                                                                            '992': {
                                                                                                                                                                            'items': 3
                                                                                                                                                                            },
                                                                                                                                                                            '1306': {
                                                                                                                                                                            'items': 4
                                                                                                                                                                            }
                                                                                                                                                                            }
                                                                                                                                                                            }">
                                    <div class="icon-box icon-box-side icon-box1">
                                        <i class="icon-box-icon d-icon-truck"></i>
                                        <div class="icon-box-content">
                                            <h4 class="icon-box-title text-capitalize lh-1 ls-s">Free Shipping &amp; Return </h4>
                                            <p class="lh-1">Free shipping on orders over $99</p>
                                        </div>
                                    </div>
                                    <div class="icon-box icon-box-side icon-box2">
                                        <i class="icon-box-icon d-icon-service"></i>
                                        <div class="icon-box-content">
                                            <h4 class="icon-box-title text-capitalize lh-1 ls-s">Customer Support 24/7 </h4>
                                            <p class="lh-1">Instant access to perfect support</p>
                                        </div>
                                    </div>
                                    <div class="icon-box icon-box-side icon-box3">
                                        <i class="icon-box-icon d-icon-secure"></i>
                                        <div class="icon-box-content">
                                            <h4 class="icon-box-title text-capitalize lh-1 ls-s">100% Secured Payment </h4>
                                            <p class="lh-1">We ensure secured payment!</p>
                                        </div>
                                    </div>
                                    <div class="icon-box icon-box-side icon-box4">
                                        <i class="icon-box-icon d-icon-money"></i>
                                        <div class="icon-box-content">
                                            <h4 class="icon-box-title text-capitalize lh-1 ls-s">Money Back Guarantee </h4>
                                            <p class="lh-1">Any back within 30 days</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>
        <br>

    </div>

}
