@model ProductReviewOverviewModel
@{
    var ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="product-ratings">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="ratings">
                @for (int i = 1; i <= ratingPercent; i++)
                {
                    <i class="lni lni-star-filled"></i>
                }

                <span class="ps-1">@Model.TotalReviews reviews</span>
            </div>
            @if (Model.CanAddNewReview)
            {
                <div style="font-size:12px;">
                    <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">
                        <i class="fa fa-plus-square"></i> @T("Reviews.Overview.AddNew")
                    </a>
                </div>
            }
        </div>
    </div>

}