@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib_npm/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib_npm/magnific-popup/magnific-popup.css");
}

<div class="product-slide-wrapper">
    <div class="product-slides owl-carousel">
        @foreach (var picture in Model.PictureModels)
        {
            <a class="thumb-item" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">
                <div class="single-product-slide" style="background-image: url('@picture.ImageUrl')"></div>
            </a>


        }
    </div>
</div>