@model ProductDetailsModel
@inject Nop.Services.Helpers.IUserAgentHelper userAgent
@if (!string.IsNullOrWhiteSpace(Model.PageShareCode))
{
    if (userAgent.IsMobileDevice())
    {
        <div class="selection-panel bg-white mb-3 py-3">
            <div class="container d-flex align-items-center justify-content-between">
                <div class="product-share-button">
                    @Html.Raw(Model.PageShareCode)
                </div>
            </div>
        </div>
    }
    else
    {

        <div class="product-share-button">
            @Html.Raw(Model.PageShareCode)
        </div>
    }
}
