@using Nop.Web.Factories
@using Nop.Services.Media
@using Nop.Core.Domain.Media 
@inject ICatalogModelFactory _categoryModelfactory
@inject IPictureService _pictureService
@inject MediaSettings mediaSetting
@{
    List<ManufacturerModel> manufacturerModels = new List<ManufacturerModel>();
    manufacturerModels = _categoryModelfactory.PrepareManufacturerAllModelsAsync().Result.Where(x=>x.DisplayOnhomepage==true).ToList();

}
@if (manufacturerModels.Count() > 0)
{

<section class="pt-5 mt-2 appear-animate" data-animation-options="{'delay': '.3s'}">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-lg-1">&nbsp;</div>
            <div class="col-xs-10 col-lg-10">
                <div class="row">
                    <div class="pos_title">
                        <h2> WOMANCART <span> FETURED BRAND</span> </h2>
                    </div>
                    @foreach (var item in manufacturerModels)
                    {
                        Picture _;
                        var picture = await _pictureService.GetPictureByIdAsync(item.PictureId);
                        string fullSizeImageUrl, imageUrl;

                        (fullSizeImageUrl, picture) = await _pictureService.GetPictureUrlAsync(picture);
                        (imageUrl,_) = await _pictureService.GetPictureUrlAsync(picture, mediaSetting.ManufacturerThumbPictureSize);

                        var pictureModel = new PictureModel
                        {
                            FullSizeImageUrl = fullSizeImageUrl,
                            ImageUrl = imageUrl
                        };
                        <div class="col-xs-6 col-lg-3 mb-4">
                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })"><figure class="category-media">
                                    <img src="@pictureModel.ImageUrl" alt="@pictureModel.AlternateText" title="@pictureModel.Title" /></figure></a>
                                @*<div class="category-content"><h4 class="category-name font-weight-bold ls-l"><a href="#">UPTO 20% OFF</a></h4></div>*@
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
}
