
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="header-selectors-wrapper mar">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
            <marquee direction="left" scrollamount="5">
                *FREE DELIVERY ON ORDER ABOVE ₹500.*DELIVERY IN JUST 24 HOUR IN DELHI-NCR.
            </marquee>
        </div>
        <div class="header-links-wrapper d-lg-show">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="header-lower row">
        <div class="header-left col-md-6">
            <div class="col-2">

                <a href="#" class="mobile-menu-toggle "><i class="d-icon-bars2 d-lg-none"></i></a>
            </div>
            <div class="col-10">
                @await Component.InvokeAsync("Logo")
            </div>
        </div>
        <div class="search-box store-search-box col-md-6">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
