
<div class="header-area" id="headerArea">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header_before_mobile" })
    <div class="container h-auto d-flex align-items-center justify-content-between">
        <div class="suha-navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas">
            <span></span>
            <span></span>
            <span></span>
        </div>

        @await Component.InvokeAsync("Logo")
    </div>
    <div class="container h-auto d-flex align-items-center justify-content-between">
        <div class="container">
            <div class="mb-1 mt-1 search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")

            </div>
        </div>
    </div>

</div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
@await Component.InvokeAsync("MobileMenu")