@model CatalogProductsModel

@if (Model.Products.Count <= 0 &&
   !Model.PriceRangeFilter.Enabled &&
   !Model.SpecificationFilter.Enabled &&
   !Model.ManufacturerFilter.Enabled)
{
    return;
}
@if (Model.AllowProductSorting)
{
    <div class="select-product-catagory">
        
        @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { aria_label = T("Catalog.OrderBy.Label"), @class = "form-select" })

    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            var $orderByEl = $('#products-orderby');
            $orderByEl.on('change', function () {
                CatalogProducts.getProducts();
            });

            $(CatalogProducts).on('before', function (e) {
                e.payload.urlBuilder
                    .addParameter('orderby', $orderByEl.val());
            });
        });
    </script>

}