@model ManufacturerFilterModel


<h6 class="widget-title mb-2">@T("Filtering.ManufacturerFilter")</h6>
<div class="widget-desc">

    @foreach (var manufacturer in Model.Manufacturers)
    {<div class="form-check">


            <input id="attribute-manufacturer-@manufacturer.Value" class="form-check-input" type="checkbox" data-manufacturer-id="@manufacturer.Value" checked="@manufacturer.Selected" />
            <label for="attribute-manufacturer-@manufacturer.Value" class="form-check-label">
                @manufacturer.Text
            </label>

        </div>
    }


    <script asp-location="Footer">
        $(document).ready(function () {
            var $msEls = $('[data-manufacturer-id]');
            $msEls.on('change', function () {
                CatalogProducts.getProducts();
            });

            $(CatalogProducts).on('before', function (e) {
                var selectedMs = $.map($msEls, function (el) {
                    var $mEl = $(el);
                    if ($mEl.is(':checked')) return $mEl.data('manufacturer-id')
                    return null;
                });

                if (selectedMs && selectedMs.length > 0) {
                    e.payload.urlBuilder
                        .addParameter('ms', selectedMs.join(','));
                }
            });
        });
    </script>
</div>