@model OrderModel

        @*<nop-select asp-for-name="store-scope-configuration" asp-items="@stores" onchange="setLocation(this.value);" style="width: auto;min-width: 300px;" />*@
        
<a asp-action="DispatchByPickker" asp-route-orderId="@Model" class="btn btn-info">
    <i class="fa fa-shipping-fast"></i>
    Dispatch By Pikkrr
</a>
