@model Nop.Plugin.Misc.Sms.Models.SmsConfigurationModel
<form asp-controller="Home" asp-action="Configure" method="post">
    @Html.AntiForgeryToken();
    
    
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Enable" />
                    </div>
                    <div class="col-md-9">
                        <label>
                            <input asp-for="Enable" type="checkbox" class="toggle-check-input" />
                            <span class="toggle-check-text"></span>
                        </label>
                        <span asp-validation-for="Enable"></span>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiUrl" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiUrl" />
                        <span asp-validation-for="ApiUrl"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Authorization" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Authorization" />
                        <span asp-validation-for="Authorization"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="senderId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="senderId" />
                        <span asp-validation-for="senderId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Method" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="Method" asp-items="new SelectList(Enum.GetNames(typeof(Nop.Plugin.Misc.Sms.Infrastructure.Constants.HttpMethod)))" />
                        <span asp-validation-for="Method"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ContentType" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ContentType" />
                        <span asp-validation-for="ContentType"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="route" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="route" />
                        <span asp-validation-for="route"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-offset-9">
                        <input type="submit" value="SaveSettings" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>